/* line 6, ../sass/styles1.scss */
.navbar-default {
  display: block;
}

/* line 10, ../sass/styles1.scss */
.body {
  background-color: rgba(3, 165, 133, 0.6);
  color: white;
  font-size: 25px;
  padding-bottom: 25px;
}
/* line 15, ../sass/styles1.scss */
.body h2 {
  font-family: 'robotoblack', sans-serif;
  color: #0000c0;
  padding-top: 25px;
}
/* line 20, ../sass/styles1.scss */
.body p {
  line-height: 25px;
}
/* line 22, ../sass/styles1.scss */
.body p:first-of-type {
  font-family: 'robotothin_italic', sans-serif;
}
/* line 25, ../sass/styles1.scss */
.body p:last-of-type {
  padding-bottom: 25px;
}
/* line 29, ../sass/styles1.scss */
.body a {
  color: #0000c0;
  font-family: 'robotoregular', sans-serif;
}
/* line 32, ../sass/styles1.scss */
.body a:hover {
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 37, ../sass/styles1.scss */
.body a:hover {
  text-decoration: none;
}
/* line 40, ../sass/styles1.scss */
.body .directions {
  font-family: 'robotoregular', sans-serif;
  color: #0000c0;
}

/* line 46, ../sass/styles1.scss */
.footer {
  background-color: black;
}
/* line 48, ../sass/styles1.scss */
.footer p.text-center {
  color: #6c6f76;
  font-family: 'robotoblack', sans-serif;
  padding-top: 30px;
  padding-bottom: 15px;
}
