/* line 11, ../sass/styles1.scss */
.navbar-default {
  display: block;
}

/* line 15, ../sass/styles1.scss */
.body {
  background-color: rgba(3, 165, 133, 0.6);
  color: white;
  font-size: 25px;
  padding-bottom: 25px;
}
/* line 20, ../sass/styles1.scss */
.body h2 {
  font-family: 'robotoblack', sans-serif;
  color: #0000c0;
  padding-top: 25px;
}
/* line 25, ../sass/styles1.scss */
.body p {
  line-height: 25px;
}
/* line 27, ../sass/styles1.scss */
.body p:first-of-type {
  font-family: 'robotothin_italic', sans-serif;
}
/* line 30, ../sass/styles1.scss */
.body p:last-of-type {
  padding-bottom: 25px;
}
/* line 34, ../sass/styles1.scss */
.body a {
  color: white;
  font-family: 'robotoregular', sans-serif;
  text-decoration: underline;
}
/* line 38, ../sass/styles1.scss */
.body a:hover {
  color: #0000c0;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 44, ../sass/styles1.scss */
.body .directions {
  font-family: 'robotoregular', sans-serif;
  color: #0000c0;
}
/* line 48, ../sass/styles1.scss */
.body .website-projects {
  font-size: 20px;
}
/* line 50, ../sass/styles1.scss */
.body .website-projects h4 {
  color: #0000c0;
  padding-top: 25px;
}
/* line 54, ../sass/styles1.scss */
.body .website-projects .intro {
  padding-top: 7px;
}
/* line 57, ../sass/styles1.scss */
.body .website-projects .projects-img:hover {
  outline: 10px solid blue;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 61, ../sass/styles1.scss */
.body .website-projects p {
  font-family: 'robotolight';
  line-height: 30px;
}
/* line 65, ../sass/styles1.scss */
.body .website-projects .italic {
  font-family: 'robotothin_italic', sans-serif;
}
/* line 68, ../sass/styles1.scss */
.body .website-projects li {
  margin-bottom: 16px;
}
/* line 70, ../sass/styles1.scss */
.body .website-projects li .blue {
  color: #0000c0;
  font-family: 'robotoregular', sans-serif;
}
/* line 75, ../sass/styles1.scss */
.body .website-projects .img-inspiration {
  margin: 10px;
  border: 5px solid white;
}
/* line 79, ../sass/styles1.scss */
.body .website-projects .img-description {
  margin: 10px 0 10px 0;
  border: 5px solid white;
}

/* line 88, ../sass/styles1.scss */
.footer {
  background-color: black;
}
/* line 90, ../sass/styles1.scss */
.footer p.text-center {
  color: #6c6f76;
  font-family: 'robotoblack', sans-serif;
  padding-top: 30px;
  padding-bottom: 15px;
}
