
$navbar-default-bg: rgba(255, 255, 255, 0.8); /*background color of the navbar*/
$navbar-default-link-color: black; /*color of the navbar links*/
$navbar-default-link-active-bg: white; /*color of active background when you scroll*/
$navbar-default-link-active-color: black; /*color of active navbar links when you scroll*/
$navbar-default-link-active-border: blue;

$navbar-font-family: 'robotoblack', sans-serif; /*variable for navbar font*/
$navbar-font-size: 16px; /*variable for navbar font size*/

$headings-font-family: 'robotoregular', serif; /*changes font-family for heading*/

$line-height-base: 1.6; /*line height of all text*/

$font-family-sans-serif: 'robotolight'; /*font-family of body*/
$font-size-base: 20px; /*font-size of body*/

$border-radius-base: 0; /*changes border-radius of panel-body, thumnails, buttons*/

$btn-default-bg: rgb(0, 0, 192); /*background color of buttons in table*/
$btn-default-color: white; /*text color of buttons in table*/
$btn-default-border: white;

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

.navbar-default {
  display: none;
  .navbar-nav>li>a, .navbar-text {
    font-family: $navbar-font-family; /*font of navbar links*/
    font-size: $navbar-font-size; /*font size of navbar links*/
  }
  li.active, #contact:hover {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
  }
}

body {
    background: url("../graph_paper_BACKGROUND2.svg") no-repeat center center fixed;
}

#home {
  background-color: black;
  .col-md-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.col-md-10 {
  padding-top: 100px; /*padding for portfolio div--not sure why this is not working when I nest it in #portfolio*/
  padding-bottom: 100px;
}

#portfolio {
  .col-md-4, .col-xs-6 { /*adds spacing between rows for portfolio thumbnails*/
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#cv {
  background-color: rgba(3, 165, 133, 0.6);
  color: white;
  padding-bottom: 100px;

  div.col-md-9 {
    h1 {
      color: rgb(0, 0, 192);
      margin-top: 50px;
      &:first-of-type {margin-top:100px;}
    }
    #about, #core-skills {
      font-size: ceil(($font-size-base * 1.26));
    }
    #employment-blurb {
      a {
        color: white;
        font-family: 'robotoregular', sans-serif;
        &:hover {color: rgb(0, 0, 192);}
      }
    }
  }

  div.col-md-4 {
    padding-top: 62px;
  }

  div.col-md-8 {
    border-left-style: solid;
    border-width: 1px;
    border-color: white;
    padding-top: 25px;
    &:last-of-type, &:nth-of-type(3) {
      padding-bottom: 50px;
    }
    h3 {
      color: rgb(0, 0, 192);
      small {
        color: white;
        font-family: 'robotothin_italic', sans-serif;
      }
    }
    p {line-height: 1em;}
  }

} /*#cv*/

#contact {
  background-color: black;
  .col-md-8 {
    color: rgb(108, 111, 118);
    font-family: 'robotoblack', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 15px;
  }
}
