@mixin transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@mixin transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-default {
  display: block;
}

.body {
  background-color: rgba(3, 165, 133, 0.6);
  color: white;
  font-size: ceil((20px * 1.25));
  padding-bottom: 25px;
  h2 {
    font-family: 'robotoblack', sans-serif;
    color: rgb(0, 0, 192);
    padding-top: 25px;
  }
  p {
    line-height: 25px;
    &:first-of-type {
      font-family: 'robotothin_italic', sans-serif;
    }
    &:last-of-type {
      padding-bottom: 25px;
    }
  }
  a {
      color: white;
      font-family: 'robotoregular', sans-serif;
      text-decoration: underline;
      &:hover {
        color: #0000c0;
        text-decoration: none;
        @include transition;
      }
  }
  .directions {
    font-family: 'robotoregular', sans-serif;
    color: rgb(0, 0, 192);
  }
  .website-projects {
    font-size: ceil((16px * 1.25));
    h4{
      color: rgb(0, 0, 192);
      padding-top: 25px;
    }
    .intro {
      padding-top: 7px;
    }
    .projects-img:hover {
      outline: 10px solid blue;
      @include transition;
    }
    p {
      font-family: 'robotolight';
      line-height: 30px;
    }
    .italic {
      font-family: 'robotothin_italic', sans-serif;
    }
    .blue {
      color: #0000c0;
      font-family: 'robotoregular', sans-serif;
    }
    li {
      margin-bottom: 16px;
    }
    .img-inspiration {
      margin: 10px;
      border: 5px solid white;
    }
    .img-description {
      margin: 10px 0 10px 0;
      border: 5px solid white;
    }
  }

}


.footer {
  background-color: black;
  p.text-center {
    color: rgb(108, 111, 118);
    font-family: 'robotoblack', sans-serif;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
