
$navbar-default-bg: rgba(255, 255, 255, 0.8); /*background color of the navbar*/
$navbar-default-link-color: black; /*color of the navbar links*/
$navbar-default-link-active-bg: white; /*color of active background when you scroll*/
$navbar-default-link-active-color: black; /*color of active navbar links when you scroll*/
// $navbar-default-link-active-border: blue;

$navbar-font-family: 'robotoblack', sans-serif; /*variable for navbar font*/
$navbar-font-size: 16px; /*variable for navbar font size*/

$headings-font-family: 'robotoregular', serif; /*changes font-family for heading*/

$line-height-base: 1.6; /*line height of all text*/

$font-family-sans-serif: 'robotolight'; /*font-family of body*/
$font-size-base: 20px; /*font-size of body*/

$border-radius-base: 0; /*changes border-radius of panel-body, thumnails, buttons*/

$btn-default-bg: rgb(0, 0, 192); /*background color of buttons in table*/
$btn-default-color: white; /*text color of buttons in table*/
$btn-default-border: white;

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

@mixin transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-default {
  display: none;
  .navbar-nav>li>a, .navbar-text {
    font-family: $navbar-font-family; /*font of navbar links*/
    font-size: $navbar-font-size; /*font size of navbar links*/
  }
  li.active, #contact:hover {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
  }
  .navbar-nav>li>a:hover, .navbar-default.navbar-nav>li>a:focus {
    color: blue;
    @include transition;
  }
}

body {
    background: url("../graph_paper_BACKGROUND2.svg") repeat center center fixed;
}

.col-md-10 {
  padding-top: 50px; /*padding for portfolio div--not sure why this is not working when I nest it in #portfolio*/
  padding-bottom: 50px;
}

#portfolio {
  div.col-sm-4.col-xs-12 {
    margin-top: 15px; /*adds spacing between rows for portfolio thumbnails*/
    margin-bottom: 15px; /*adds spacing between rows for portfolio thumbnails*/
    img:hover {
      outline: 10px solid blue;
      @include transition;
    }
  }
}

#cv {
  background-color: rgba(3, 165, 133, 0.6);
  color: white;
  padding-bottom: 50px;

  div.col-md-9.col-xs-12 {
    h1 {
      font-family: 'robotoblack', sans-serif;
      color: rgb(0, 0, 192);
      margin-top: 50px;
    }

    #about, #core-skills {
      font-size: ceil(($font-size-base * 1.26));
      li:nth-of-type(6) {
        color: rgb(0, 0, 192);
        font-family: 'robotoregular', sans-serif;
      }
    }

    #employment-blurb {
      a {
        color: white;
        font-family: 'robotoregular', sans-serif;
        &:hover {
          color: rgb(0, 0, 192);
          @include transition;
        }
      }
    }
    a:hover {
      text-decoration: none;
    }
    a button.btn.btn-default {
      font-family: 'robotoregular', sans-serif;
      width: 100px;
      height: 100px;
      margin-top: 25px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      border-width: 2px;
      &:hover {
        color: #0000C0;
        border-color: #0000C0;
        background-color: white;
        @include transition;
      }
    }

  }

  div.col-xs-4 {
    padding-top: 62px;
  }

  div.col-xs-8 {
    border-left-style: solid;
    border-width: 1px;
    border-color: white;
    padding-top: 25px;
    &:last-of-type, &:nth-of-type(3) {
      padding-bottom: 50px;
    }
    h3 {
      color: rgb(0, 0, 192);
      small {
        color: white;
        font-family: 'robotothin_italic', sans-serif;
      }
    }
    p {
      line-height: 1em;
      }
  }

} /*#cv*/

/*this code would not work nested, aargh Bootstrap! Sets specific /p/ elements to an italic font-family within CV*/
div#cv.container-fluid div.row div.col-md-9.col-md-offset-1.col-xs-12 div.row div.col-xs-8 p#italic {font-family: 'robotothin_italic', sans-serif;}

.modal {
  color: #D3D6EF;
  font-family: 'robotolight', sans-serif;
  .modal-header {
    background-color: #0000C0;
  }
  .modal-body {
    background-color: #0000C0;
    li {
      padding-top: 15px;
      font-size: ceil(($font-size-base * 0.85));
      }
  }
  .modal-footer {
    background-color:#0000C0;
    a.btn.btn-default {
      font-family: 'robotoregular', sans-serif;
      &:hover {
        color: #0000C0;
        border-color: #0000C0;
        background-color: white;
        @include transition;
      }
    }
  }
}


#contact {
  background-color: black;
  .white {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
  .color {
    position: absolute;
    left: 0;
    top: 0;
  }
  p.text-center {
    color: rgb(108, 111, 118);
    font-family: 'robotoblack', sans-serif;
    padding-top: 130px;
    padding-bottom: 15px;
  }
}
