
body {
  padding-top: 70px;
  background-color: #DCE6E8;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-md-10 {
  padding-top: 50px;
}

.col-md-4, .col-xs-6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills-list {
  margin-left: 10px;
}

#btn-work-experience-1, #btn-work-experience-2 {
  margin-top: 5px;
}

th {
font-family: 'Marcellus SC', serif;
}

h1 {
font-family: 'Old Standard TT', serif;
}
