
body {
  padding-top: 70px;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-md-4, .col-xs-6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills-list {
  margin-left: 10px;
}

.close-work-experience {
  margin-right: 5px;
}

.btn-work-experience {
  margin-top: 5px;
}
